html {
  scroll-behavior: smooth;
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 90%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
   scroll-behavior: smooth;
}

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  background-color: #e63946;
}

nav > ul {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  padding-left: 6rem;
}

.nav-link {
  font-size: 20px;
}

a {
  text-decoration: none; 
  color: #f1faee;
}

@media (max-width: 450px) {
  nav > ul {
    flex-direction: column;
  }
}

section {
  position: relative;
}

#welcome-section {
    width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 text-align: center;
color: #f1faee;
  background-color: #1d3557;
}

h1 {
  font-size: 4.5rem;
}

#welcome-p {
  margin-top: -50px;
  font-size: 2rem;
  color: #a8dadc;
}

#about {
      width: 100%;
  height: 100vh;
  display: flex;
    justify-content: center;
  flex-direction: column;
 text-align: center;
  background-color: #e8e8e8;
  color: #343a40;
}
#about-header{
/*   margin-bottom: -1rem; */
}

#about-p {
  margin-top: 0rem;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

#about-img {
  border-radius: 10px;
  width: 80%;
  height: auto;
/*   display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto; */
  max-width: 900px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
}

#work {
     padding-top: 0.2rem;
    width: 100%;
  height: 100vh;
    background-color: #343a40;
  color: #e8e8e8;
  text-align: center;
  box-sizing: border-box;
}

#projects {
  margin-top: 0px; 
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 1rem;
  border-radius: 6px;
  border: 5px solid black;
}

img {
  height: 100%;
 width: 100%;
object-fit: fill;
}

.buckets {
  margin-top: 0;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  #projects {
    flex-direction: column;
  }
  .project-tile {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
  
h3 {
  background-color: #e8e8e8;
  color: black;
  padding: 15px 0; 
  width: 100%;
  text-transform: uppercase;
}

a {
  font-size: 1.3rem;
  font-family: inherit;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

/* .project-link {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #f8f9fa;
  width: 100%;
} */

#all-work {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #e63946;
  border-radius: 8px;
  color: #e8e8e8;
}

#all-work:hover {
  background-color: #ef233c;
}

#contact {
   padding-top: 10rem;
    width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
 text-align: center;
  background-color: #457b9d;
  color: #f1faee;
}

h4 {
  font-size: 4.5rem;
  margin-bottom: 0px;
}

#contact-p {
    margin-top: 0px;
  font-size: 2rem;
  color: #a8dadc;
  margin-bottom: 2rem;
}

.contact-link {
  padding-top: 20px;
  display: inline-block;
    color: #f1faee;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 2rem;
  transition: transform 0.5s ease-out;
}

.contact-link:hover {
   transform: translateY(8px);
}

.fa {
  background-color: #f1faee;
  color: #457b9d;
  border-radius: 50%;
  margin-right: 0.9rem;
  padding: 0.4rem;
}

footer {
  border-top: 4px solid #e63946;
  color: #f1faee;
  background-color: #1d3557;
 padding: 1px;
  text-align: right;
}

#footer-p {
  padding-right: 1rem;
}
